# IDEs
.idea/

# Hugo
/resources/
public/
assets/jsconfig.json

# R files
.Rproj.user
.Rhistory
.RData
.Rapp.history
.Ruserdata


# Authentication
.httr-oauth.Rhistory
.httr-oauth
*.httr-oauth
.Renviron
.env
secrets/