{{ $item := .item }}
{{ $widget := .widget }}
{{ $link := .link }}
{{ $target := .target }}

{{/* Get summary */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

{{/* Detect full image display request */}}
{{ $full := or ($item.Params.full_image | default false) false }}

{{/* Get image URL */}}
{{ $img_url := "" }}
{{ $img_classes := "img-responsive" }}

{{ if $item.Params.image.url }}
  {{/* External image */}}
  {{ $img_url = $item.Params.image.url }}
{{ else }}
  {{/* Try to get local image from resources */}}
  {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
  {{ if $resource }}
    {{ $img_url = $resource.RelPermalink }}
  {{ end }}
{{ end }}

{{/* Image styling */}}
{{ if not $full }}
  {{ $img_classes = print $img_classes " thumbnail" }}
{{ end }}

<div class="project-card project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}">
  <div class="card">

    {{ if $img_url }}
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
        <img src="{{ $img_url }}" alt="{{ $item.Title }}"
             class="{{ $img_classes }}"
             style="{{ if not $full }}max-height: 200px; object-fit: cover; width: 100%;{{ end }}">
      </a>
    {{ end }}

    <div class="card-text">
      <h4><a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a></h4>
      {{ with $summary }}
        <div class="article-style">
          <p>{{ . }}</p>
        </div>
      {{ end }}
    </div>

  </div>
</div>
