{{ $item := .item }}
{{ $widget := .widget }}
{{ $link := .link }}
{{ $target := .target }}

{{/* Get summary */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

{{/* Detect if full image is requested */}}
{{ $full := or ($item.Params.full_image | default false) false }}
{{ $img_width := cond $full "1024x" "550x" }}

{{/* Get image */}}
{{ $img_url := "" }}
{{ $is_external := false }}

{{ if $item.Params.image.url }}
  {{ $img_url = $item.Params.image.url }}
  {{ $is_external = true }}
{{ else }}
  {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
  {{ if $resource }}
    {{ $image := $resource.Resize $img_width }}
    {{ $img_url = $image.RelPermalink }}
  {{ end }}
{{ end }}


<div class="project-card project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}">
  <div class="card">
    {{ if $img_url }}
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
        <img src="{{ $img_url }}" alt="{{ $item.Title }}"
             class="img-responsive {{ if not $full }}thumbnail{{ end }}"
             style="{{ if not $full }}max-height: 200px; object-fit: cover;{{ end }}">
      </a>
    {{ end }}

    <div class="card-text">
      <h4><a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a></h4>
      {{ with $summary }}
        <div class="article-style">
          <p>{{ . }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</div>
